<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/ico" href="img/favicon.gif" />
    <link rel="stylesheet" type="text/css" href="src/style.css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- import components -->
    <script src="src/js/productCard.js"></script>
    <script src="src/js/typeCampingCar.js"></script>
    <title>Sécurité et isolation pour camping-car</title>
</head>

<body>
    <div id="app">
        <div class="bg-img">
                <!-- first part -->
                <section v-show="mainContent === 'start'" class="text-gray-600 body-font">
                    <div class="container px-5 py-auto max-w-7x1">
                        <div class="flex flex-wrap w-full p-4">
                            <div class="w-full lg:mb-0">
                                <h1 class="sm:text-4xl text-5xl font-medium font-bold title-font mb-2 text-gray-900">
                                    Démarrez votre devis
                                </h1>
                                <div class="text-2xl">Laissez-vous guider, votre devis en quelques secondes</div>
                                <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                            </div>
                        </div>

                        <div class="flex flex-wrap">
                            <!-- TODO - CALCULER LE PRIX DE LA CARD DANS LE SELECTION SECTION -->
                            <product-card v-for="productCardContent in productsCardContent" :title="productCardContent.title"
                                :imgsrc="productCardContent.imgsrc" :text="productCardContent.text"
                                :clickmaincontent="productCardContent.clickmaincontent"
                                :buttoncontent="productCardContent.buttoncontent">
                            </product-card>
                        </div>
                    </div>
                </section>
                <!-- layout -->
                <div class="grid grid-flow-col grid-cols-12 grid-rows-auto gap-2">
                    <div class="col-span-9">
                        <!-- type camping car -->
                        <section class="flex flex-wrap md:mx-12" v-show="mainContent === 'volet'">
                            <type-campingcar :key="index" v-for="(tryptique, index) in apiAllTryptique"
                                :img="tryptique.fields.images.image" :title="tryptique.fields.nom"
                                v-on:add-volet="addVolet(tryptique.fields.nom)">
                            </type-campingcar>
                        </section>
                        <!-- dimensions baies -->
                        <section v-show="mainContent === 'baies'">
                            <div class="overflow-hidden relative flex items-center min-h-screen">
                                <div class="absolute bg-gradient-to-tr from-yellow-400 via-red-500 to-pink-500 w-full h-1/2 z-0 top-0"
                                    style="border-top-right-radius: 20%; border-bottom-left-radius: 50% 20%; border-bottom-right-radius: 50% 20%;"></div>
                                <div class="absolute inset-x-auto w-full z-10">
                                    <div class="container text-center mb-20">
                                        <h2 class="text-4xl text-white font-bold px-24">Je renseigne les quantités et les
                                            différentes dimensions (hors tout) de mes baies</h2>
                                    </div>
                                    <div class="w-2/3 mx-auto shadow-md rounded-md p-4 bg-white">
                                        <div class="flex justify-end mb-3 text-red-600 gap-1">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                                        </div>
                                        <div class="flex gap-2 flex-col md:flex-row center">
                                            <div class="relative flex-1">
                                                <input id="height" v-on:keypress.enter="addBaies" v-model="typedBaieHeight"
                                                    name="height" type="text"
                                                    class="peer h-10 w-full border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-red-600 focus:border-2 p-3"
                                                    placeholder="quelquechose" />
                                                <label for="height"
                                                    class="absolute left-2 px-1 -top-2.5 bg-white text-red-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-900 peer-placeholder-shown:top-2 peer-focus:-top-2.5 peer-focus:text-red-600 peer-focus:text-sm">
                                                    Largeur :
                                                </label>
                                            </div>
                                            <div class="relative flex-1">
                                                <input id="width" name="width" type="text" v-on:keypress.enter="addBaies"
                                                    v-model="typedBaieWidth"
                                                    class="peer h-10 w-full border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-red-600 focus:border-2 p-3"
                                                    placeholder="quelquechose" />
                                                <label for="width"
                                                    class="absolute left-2 px-1 -top-2.5 bg-white text-red-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-900 peer-placeholder-shown:top-2 peer-focus:-top-2.5 peer-focus:text-red-600 peer-focus:text-sm">
                                                    Hauteur:
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-center mt-6">
                                        <!-- TODO: FAIRE LA FUNCT ONLICK   -->
                                        <button class="bg-red-500 hover:bg-red-700 text-white font-extrabold text-lg rounded-full px-6 py-3"
                                            @click="addBaies">Ajouter une baie
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- type dôme -->
                        <section class="flex flex-wrap content-center h-screen md:mx-12" v-show="mainContent === 'domes'">
                            <type-campingcar :key="index" v-for="(dome, index) in apiAllDome" :img="dome.fields.images.image"
                                :title="dome.fields.nom" v-on:add-volet="addItem(dome)">
                            </type-campingcar>
                        </section>
                    </div>
                    <!-- panier -->
                    <div v-show="mainContent !== 'start'" id="selection" class="col-span-3 flex flex-col justify-center align-middle">
                        <div class="card shadow-xl h-auto m-4">
                            <div class="card-header mx-auto">
                                <h1 class="card-header-title">Votre panier</h1>
                            </div>
                            <!-- card-total-product 1 -->
                            <div v-show="volet != ''" class="w-full flex mt-2">
                                <div class="
                                    h-56
                                    mx-4
                                    w-5/6
                                    bg-blue-400
                                    rounded-3xl
                                    shadow-md
                                    sm:w-80 sm:mx-0
                                ">
                                    <div class="h-1/2 w-full flex justify-between items-baseline px-3 py-3">
                                        <h1 class="text-white text-center">Volets tryptiques de pare-brise</h1>
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="1"
                                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                                            />
                                        </svg>
                                    </div>

                                    <div class="
                                    bg-white
                                    h-1/2
                                    w-full
                                    rounded-3xl
                                    flex flex-col
                                    justify-around
                                    items-center
                                    ">
                                        <div class="w-full h-1/2 flex justify-between items-center px-3 pt-2">
                                            <div class="flex flex-col justify-center items-center">
                                                <h1 class="text-gray-500 text-xs">Produits</h1>
                                                <h1 class="text-gray-600 text-sm">1</h1>
                                            </div>
                                        </div>
                                        <div class="w-full h-1/2 flex flex-col justify-center items-center">
                                        <h1 class="text-gray-700 font-bold">{{volet}}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- card-total-product 2 -->
                            <div v-show="baies.length != 0 " class="h-screen w-full flex justify-center items-center">
                                <div class="
                                            h-auto
                                            mx-4
                                            w-5/6
                                            bg-blue-400
                                            rounded-3xl
                                            shadow-md
                                            sm:w-80 sm:mx-0
                                        ">
                                    <div class="h-1/2 w-full flex justify-between items-baseline px-3 py-5">
                                        <h1 class="text-white text-center">Volets de baie</h1>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                        </svg>
                                    </div>

                                    <div class="
                                            bg-white
                                            h-auto
                                            w-full
                                            rounded-3xl
                                            flex flex-col
                                            justify-around
                                            items-center
                                            ">
                                        <div class="w-full h-1/2 flex justify-between items-center px-3 pt-2">
                                            <div class="flex flex-col justify-center items-center">
                                                <h1 class="text-gray-500 text-xs">Produits</h1>
                                                <h1 class="text-gray-600 text-sm">{{countVoletBaie}}</h1>
                                            </div>
                                            <div class="flex flex-col justify-center items-center">
                                                <h1 class="text-gray-500 text-xs">Prix</h1>
                                                <h1 class="text-gray-600 text-sm">{{calculateTotalPrice}}€</h1>
                                            </div>
                                        </div>
                                        <div class="w-full h-1/2 flex flex-col justify-center items-center">
                                            <div class="text-gray-700 font-bold">
                                                <div class="pb-3" v-for="(baie, index) in baies">
                                                    Baie {{ index +1 }} = L{{ baie.height }}cm <span class="font-extrabold">X</span> H{{ baie.width
                                                    }}cm
                                                    <p class="text-sm text-gray-500 text-right">Prix unitaire = {{ baie.totalPrice }}€</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- card-total-product 3 -->
                            <div v-show="totalVolets.length != 0 " class="h-screen w-full flex justify-center items-center">
                                <div class="
                                            h-auto
                                            mx-4
                                            w-5/6
                                            bg-blue-400
                                            rounded-3xl
                                            shadow-md
                                            sm:w-80 sm:mx-0
                                        ">
                                    <div class="h-1/2 w-full flex justify-between items-baseline px-3 py-5">
                                        <h1 class="text-white text-center">Volets de dômes</h1>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                        </svg>
                                    </div>

                                    <div class="
                                            bg-white
                                            h-auto
                                            w-full
                                            rounded-3xl
                                            flex flex-col
                                            justify-around
                                            items-center
                                            ">
                                        <div class="w-full h-1/2 flex justify-between items-center px-3 pt-2">
                                            <div class="flex flex-col justify-center items-center">
                                                <h1 class="text-gray-500 text-xs">Produits</h1>
                                                <h1 class="text-gray-600 text-sm">{{ totalVolets.length }}</h1>
                                            </div>
                                            <div class="flex flex-col justify-center items-center">
                                                <h1 class="text-gray-500 text-xs">Prix</h1>
                                                <h1 class="text-gray-600 text-sm">300€</h1>
                                            </div>
                                        </div>
                                        <div class="w-full h-1/2 flex flex-col justify-center items-center">
                                            <div class="text-gray-700 font-bold">
                                                    <div v-if="voletDomes.length === 1">
                                                        <p class="text-gray-700 font-bold" v-for="(voletDome, index) in voletDomes">
                                                            {{ index +1 }} X {{ voletDome }}
                                                        </p>
                                                    </div>
                                                    <div v-else-if="voletDomes.length >= 2">
                                                        <p class="text-gray-700 font-bold">
                                                            {{ countVoletDeDome }} X Volet de dôme
                                                        </p>
                                                    </div>
                                                    <div v-if="voletLanterneaus.length ===1">
                                                        <p class="text-gray-700 font-bold" v-for="(voletLanterneau, index) in voletLanterneaus">
                                                            {{ index +1 }} X {{ voletLanterneau }}
                                                        </p>
                                                    </div>
                                                    <div v-else-if="voletLanterneaus.length >= 2">
                                                        <p class="text-gray-700 font-bold">
                                                            {{ countLanterneau }} X Volet de lanterneau
                                                        </p>
                                                    </div>
                                                    <div v-if="voletSkydome != ''">
                                                        <p class="text-gray-700 font-bold">
                                                            1 X {{ voletSkydome }}
                                                        </p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        const vue = new Vue({
            el: "#app",
            data: {
                mainContent: "start",
                volet: "",
                typedBaieHeight: "",
                typedBaieWidth: "",
                typedBaieTotalSize: "",
                typedTotalPrice: "",
                globalTotalPrice: [],
                baies: [],
                voletDomes: [],
                voletLanterneaus: [],
                voletSkydome: "",
                totalVolets:[],
                countVoletBaie: 0,
                countVoletDeDome: 0,
                countLanterneau: 0,
                productsCardContent: [
                    {
                        title: "Volets tryptiques de pare-brise",
                        imgsrc: "src/img/triptyque.png",
                        text: "Sélectionnez un volet triptyque de pare-brise en fonction de votre camping-car.",
                        clickmaincontent: "volet",
                        buttoncontent: "Je souhaite un volets tryptiques"
                    },
                    {
                        title: "Volets de baie",
                        imgsrc: "src/img/baies.png",
                        text: "Renseignez les différentes dimensions de vos baies de votre camping-car",
                        clickmaincontent: "baies",
                        buttoncontent: "Je souhaite des volets de baies"
                    },
                    {
                        title: "Volets de dômes",
                        imgsrc: "src/img/domes.png",
                        text: "Sélectionnez un volet triptyque de pare-brise en fonction de votre camping-car.",
                        clickmaincontent: "domes",
                        buttoncontent: "Je souhaite des volets de dômes"
                    },
                ],
                // FROM API
                apiAllTryptique: null,
                apiPriceBaie: null,
                apiAllDome: null

            },
            methods: {
                addVolet: function (model) {
                    this.volet = model
                },
                addBaies: function () {
                    if (this.typedBaieHeight != "" && this.typedBaieWidth != "") {
                        this.baies.push({
                            height: this.typedBaieHeight,
                            width: this.typedBaieWidth,
                            totalPrice: this.typedBaieHeight * this.typedBaieWidth * this.apiPriceBaie.tarif
                        })
                        this.typedBaieTotalSize = this.typedBaieWidth * this.typedBaieHeight;
                        this.typedTotalPrice = this.typedBaieTotalSize * this.apiPriceBaie.tarif;
                        this.globalTotalPrice.push(this.typedTotalPrice);
                    }
                    this.typedBaieHeight = ""
                    this.typedBaieWidth = ""
                    this.countVoletBaie++
                },
                addItem: function (item) {
                    if (item.fields.nom === "Volet de dôme") {
                        this.countVoletDeDome++,
                            this.voletDomes.push(item.fields.nom)
                            this.totalVolets.push(item.fields.nom)
                    } else if (item.fields.nom === "Volet de lanterneau") {
                        this.countLanterneau++,
                            this.voletLanterneaus.push(item.fields.nom)
                            this.totalVolets.push(item.fields.nom)
                    } else {
                        this.voletSkydome = item.fields.nom
                        if(this.totalVolets == ""){
                            this.totalVolets.push(item.fields.nom)
                        }
                    }
                }
            },
            computed: {
                calculateTotalPrice: function () {
                    if (this.globalTotalPrice.length != 0) {
                        const reducer = (accumulator, curr) => accumulator + curr;
                        let sum = this.globalTotalPrice.reduce(reducer)
                        return sum
                    }
                }

            },
            mounted() {
                axios
                    .get('https://nouvelair.net/wp-json/nouvelair/api/alltriptyque')
                    .then(response => (this.apiAllTryptique = response.data))
                    .catch(e => console.log(e)),
                    axios
                        .get('https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/pricebaie')
                        .then(response => (this.apiPriceBaie = response.data))
                        .catch(e => console.log(e)),
                    axios
                        .get('https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/alldome')
                        .then(response => (this.apiAllDome = response.data))
                        .catch(e => console.log(e))
            },
        });
    </script>
</body>

</html>