<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/ico" href="img/favicon.gif" />
    <link rel="stylesheet" type="text/css" href="src/style.css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- import components -->
    <script src="src/js/productCard.js"></script>
    <script src="src/js/typeCampingCar.js"></script>
    <title>Nouvelair</title>
</head>

<body>
    <div id="app">
        <div class="bg-img">
                <!-- first part -->
                <section v-show="mainContent === 'start'" class="text-gray-600 body-font">
                    <div class="container px-5 py-auto max-w-7x1">
                        <div class="flex flex-wrap w-full p-4">
                            <div class="w-full lg:mb-0">
                                <h1 class="sm:text-4xl text-5xl font-medium font-bold title-font mb-2 text-gray-900">
                                    Démarrez votre devis
                                </h1>
                                <div class="text-2xl">Laissez-vous guider, votre devis en quelques secondes</div>
                                <div class="h-1 w-20 bg-red-500 rounded"></div>
                            </div>
                        </div>

                        <div class="flex flex-wrap content-center h-screen">
                            <!-- TODO - CALCULER LE PRIX DE LA CARD DANS LE SELECTION SECTION -->
                            <product-card v-for="productCardContent in productsCardContent" :title="productCardContent.title"
                                :imgsrc="productCardContent.imgsrc" :text="productCardContent.text"
                                :clickmaincontent="productCardContent.clickmaincontent"
                                :buttoncontent="productCardContent.buttoncontent">
                            </product-card>
                        </div>
                    </div>
                </section>
                <!-- layout -->
                <div class="grid grid-flow-col grid-cols-12 grid-rows-auto gap-2">
                    <div class="col-span-8">
                        <!-- type camping car -->
                        <section v-show="mainContent === 'volet'" class="flex flex-wrap content-center h-screen md:mx-12">
                            <type-campingcar :key="index" v-for="(tryptique, index) in apiAllTryptique"
                                :img="tryptique.fields.images.image" :title="tryptique.fields.nom"
                                v-on:add-volet="addVolet(tryptique.fields.nom)">
                            </type-campingcar>
                        </section>
                        <!-- dimensions baies -->
                        <section v-show="mainContent === 'baies'">
                            <div class="overflow-hidden relative flex items-center min-h-screen">
                                <div class="absolute bg-gradient-to-tr from-yellow-400 via-red-500 to-pink-500 w-full h-1/2 z-0 top-0"
                                    style="border-top-right-radius: 20%; border-bottom-left-radius: 50% 20%; border-bottom-right-radius: 50% 20%;"></div>
                                <div class="absolute inset-x-auto w-full z-10">
                                    <div class="container text-center mb-20">
                                        <h2 class="text-4xl text-white font-bold px-24">Je renseigne les quantités et les
                                            différentes dimensions (hors tout) de mes baies</h2>
                                    </div>
                                    <div class="w-2/3 mx-auto shadow-md rounded-md p-4 bg-white">
                                        <div class="flex justify-end mb-3 text-red-600 gap-1">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                                                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                                        </div>
                                        <div class="flex gap-2 flex-col md:flex-row center">
                                            <div class="relative flex-1">
                                                <input id="height" v-on:keypress.enter="addBaies" v-model="typedBaieHeight"
                                                    name="height" type="text"
                                                    class="peer h-10 w-full border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-red-600 focus:border-2 p-3"
                                                    placeholder="quelquechose" />
                                                <label for="height"
                                                    class="absolute left-2 px-1 -top-2.5 bg-white text-red-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-900 peer-placeholder-shown:top-2 peer-focus:-top-2.5 peer-focus:text-red-600 peer-focus:text-sm">
                                                    Largeur :
                                                </label>
                                            </div>
                                            <div class="relative flex-1">
                                                <input id="width" name="width" type="text" v-on:keypress.enter="addBaies"
                                                    v-model="typedBaieWidth"
                                                    class="peer h-10 w-full border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-red-600 focus:border-2 p-3"
                                                    placeholder="quelquechose" />
                                                <label for="width"
                                                    class="absolute left-2 px-1 -top-2.5 bg-white text-red-600 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-900 peer-placeholder-shown:top-2 peer-focus:-top-2.5 peer-focus:text-red-600 peer-focus:text-sm">
                                                    Hauteur:
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-center mt-6">
                                        <!-- TODO: FAIRE LA FUNCT ONLICK   -->
                                        <button class="bg-red-500 hover:bg-red-600 text-white font-extrabold text-lg rounded-full px-6 py-3"
                                            @click="addBaies">Ajouter une baie
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- type dôme -->
                        <section v-show="mainContent === 'domes'" class="flex flex-wrap content-center h-screen md:mx-12">
                            <type-campingcar :key="index" v-for="(dome, index) in apiAllDome" :img="dome.fields.images.image"
                                :title="dome.fields.nom" v-on:add-volet="addItem(dome)">
                            </type-campingcar>
                        </section>
                        <!-- FORM -->
                        <section  v-show="mainContent === 'form'" class="flex flex-wrap content-center h-screen">
                            <section class="mx-8 max-w-4xl p-6 mx-auto bg-indigo-600 rounded-md shadow-md dark:bg-gray-800 mt-20">
                                <h1 class="text-xl font-bold text-white dark:text-white">Veuillez renseigner les informations pour recevoir votre devis</h1>
                                <form>
                                    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                                        <div>
                                            <label class="text-white dark:text-gray-200" for="username">Nom</label>
                                            <input v-model="nom" id="username" type="text" required class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                        </div>
                                        <div>
                                            <label class="text-white dark:text-gray-200" for="username">Prénom</label>
                                            <input v-model="prenom" id="userfirstname" required type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                        </div>

                                        <div>
                                            <label class="text-white dark:text-gray-200" for="emailAddress">Adresse e-mail</label>
                                            <input v-model="email" id="emailAddress" required type="email" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                        </div>
                                        <div>
                                            <label class="text-white dark:text-gray-200" for="emailAddress">Numéro de telephone</label>
                                            <input v-model="tel" id="phonenumber" required type="number" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                        </div>

                                        <div>
                                            <label class="text-white dark:text-gray-200" for="password">Marque du camping car</label>
                                            <input v-model="marque" id="marque" type="text" required class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
                                        </div>

                                        <div>
                                            <label class="text-white dark:text-gray-200" for="passwordConfirmation">Indiquez votre demande</label>
                                            <textarea v-model="textarea" id="textarea" type="textarea" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"></textarea>
                                        </div>
                                    </div>

                                    <div class="flex justify-end mt-6">
                                        <button @click="mainContent = 'recap'; "  class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600">Recevoir votre devis</button>
                                    </div>
                                </form>
                            </section>
                        </section>
                        <section  v-show="mainContent === 'recap'" class="flex flex-wrap content-center h-screen">
                            <div class='max-w-xs w-full bg-white shadow-md rounded-lg overflow-hidden mx-auto'>
                                    <div class='h-5 w-full bg-gray-800'></div>
                                    <div class='px-2 py-3'>
                                        <div class='w-full text-center mb-3'>
                                            <img class='w-24 h-24 inline-block object-cover rounded-full' alt='CompanyIcon' src='src/img/baies.png'>
                                        </div>
                                        <div class='w-full text-center border-t mb-1 pb-3'>
                                            <h1 class="mt-2 text-xl font-bold"><span class="uppercase">{{nom}}</span>{{prenom}}</h1>
                                            <p class="my-1 text-xs font-bold">{{email}}</p>
                                            <p class="my-1 text-xs font-bold">{{tel}}</p>
                                            <p class="my-1 text-xs font-bold">{{marque}}</p>
                                        </div>
                                        <table class="w-full border">
                                            <thead>
                                                <tr class="border-t-2 font-bold">
                                                    <td class="p-2 border-r w-1/12">Quantité</td>
                                                    <td class="p-2 border-r w-6/12">Item</td>
                                                    <td class="p-2 text-right w-4/12">Total</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="border-t text-sm">
                                                    <td class="p-1 pl-2 border-r">1</td>
                                                    <td class="p-1 pl-2 border-r">Volets tryptiques de pare-brise</td>
                                                    <td class="p-1 text-right"><small class="font-bolder text-lg pr-2 text-gray-300">€</small></td>
                                                </tr>
                                                <tr class="border-t text-sm">
                                                    <td class="p-1 pl-2 border-r">{{countVoletBaie}}</td>
                                                    <td class="p-1 pl-2 border-r">Volets de baie</td>
                                                    <td class="p-1 text-right">{{calculateTotalPrice}}<small class="font-bolder text-lg pr-2 text-gray-300">€</small></td>
                                                </tr>
                                                <tr class="border-t text-sm">
                                                    <td class="p-1 pl-2 border-r">{{ totalVolets.length }}</td>
                                                    <td class="p-1 pl-2 border-r">Volets de dômes</td>
                                                    <td class="p-1 text-right"><small class="font-bolder text-lg pr-2 text-gray-300">€</small></td>
                                                </tr>
                                            </tbody>
                                            <thead>
                                                <tr class="border-t-2 text-sm">
                                                    <td class="p-2" colspan="2"></td>
                                                    <td class="p-2 text-right border-r">Sub Total</td>
                                                    <td class="p-1 text-right">{{calculateTotalPrice}}<small class="font-bolder text-lg pr-2 text-gray-300">€</small></td>
                                                </tr>
                                                <tr class="border-t-2 text-sm">
                                                    <td class="p-2" colspan="2"></td>
                                                    <td class="p-2 text-right border-r">Tax</td>
                                                    <td class="p-1 text-right">{{calculateTotalPrice * 0.2}}<small class="font-bolder text-lg pr-2 text-gray-300">€</small></td>
                                                </tr>
                                                <tr class="border-t-2 text-sm">
                                                    <td class="p-2" colspan="2"></td>
                                                    <td class="p-2 text-right border-r font-bold">Total</td>
                                                    <td class="p-1 text-right">{{(calculateTotalPrice * 0.2) + calculateTotalPrice}}<small class="font-bolder text-lg pr-2 text-gray-300">€</small></td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                            </div>
                        </section>
                    </div>
                    <!-- panier -->
                    <transition name="slide-fade">
                    <div v-show="mainContent !== 'start'" id="selection" class="col-span-4 flex flex-col justify-center align-middle">
                        <div class="card shadow-xl h-auto m-4">
                            <div class="card-header mx-auto">
                                <div class="card-header-title flex justify-between">
                                    <h1 class="font-bold">Votre panier</h1>
                                    <button @click="mainContent = 'form'" class="is-small button is-success is-outlined font-bold">Recapitulatif</button>
                                </div>
                            </div>
                            <!-- card-total-product 1 -->
                            <div v-show="volet != ''" class="w-full flex justify-center my-3">
                                <div class="card w-4/5">
                                    <div class="card-header flex alignt-middle">
                                        <div class="card-header-title bg-red-500">
                                            <h1 class="font-bold text-white">Volets tryptiques de pare-brise</h1>
                                        </div>
                                    </div>
                                    <div class="card-content py-3">
                                        <div>
                                            <div class="w-full h-1/2 flex flex-col justify-center items-center">
                                            <h1 class="text-gray-700 font-bold">{{volet}}</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- card-total-product 2 -->
                            <div v-show="baies.length != 0 " class="w-full flex justify-center my-3">
                                <div class="card w-4/5">
                                    <div class="card-header flex alignt-middle">
                                        <div class="card-header-title bg-red-500">
                                            <h1 class="font-bold text-white">Volets de baie</h1>
                                        </div>
                                    </div>
                                    <div class="card-content py-3">
                                        <div>
                                            <div class="w-full h-1/2 flex flex-col justify-center items-center">
                                                <div class="text-gray-700 font-bold">
                                                    <div class="pb-3" v-for="(baie, index) in baies">
                                                        Baie {{ index +1 }} = L{{ baie.height }}cm <span class="font-extrabold">X</span> H{{ baie.width
                                                        }}cm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="card-footer-item">
                                            <div class="w-full h-1/2 flex justify-between items-center px-3 pt-2">
                                                <div class="flex flex-col justify-center items-center">
                                                    <h1 class="text-xs font-normal">Produits</h1>
                                                    <h1 class="text-xs  font-bold">{{countVoletBaie}}</h1>
                                                </div>
                                                <div class="flex flex-col justify-center items-center">
                                                    <p class="text-xs font-normal">Prix Unitaire</p>
                                                    <p class="text-xs  font-bold">{{ apiPriceBaie.tarif }}€</p>
                                                </div>
                                                <div class="flex flex-col justify-center items-center">
                                                    <p class="text-xs font-normal">Prix total</p>
                                                    <p class="text-xs  font-bold">{{calculateTotalPrice}}€</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- card-total-product 3 -->
                            <div v-show="totalVolets.length != 0 " class="w-full flex justify-center my-3">
                                <div class="card w-4/5">
                                    <div class="card-header flex alignt-middle">
                                        <div class="card-header-title bg-red-500">
                                            <h1 class="font-bold text-white">Volets de dômes</h1>
                                        </div>
                                    </div>
                                    <div class="card-content py-3">
                                        <div>
                                            <div class="w-full h-1/2 flex flex-col justify-center items-center">
                                                <div class="text-gray-700 font-bold">
                                                    <div v-if="voletDomes.length === 1">
                                                        <p class="text-gray-700 font-bold" v-for="(voletDome, index) in voletDomes">
                                                            {{ index +1 }} X {{ voletDome }}
                                                        </p>
                                                    </div>
                                                    <div v-else-if="voletDomes.length >= 2">
                                                        <p class="text-gray-700 font-bold">
                                                            {{ countVoletDeDome }} X Volet de dôme
                                                        </p>
                                                    </div>
                                                    <div v-if="voletLanterneaus.length ===1">
                                                        <p class="text-gray-700 font-bold" v-for="(voletLanterneau, index) in voletLanterneaus">
                                                            {{ index +1 }} X {{ voletLanterneau }}
                                                        </p>
                                                    </div>
                                                    <div v-else-if="voletLanterneaus.length >= 2">
                                                        <p class="text-gray-700 font-bold">
                                                            {{ countLanterneau }} X Volet de lanterneau
                                                        </p>
                                                    </div>
                                                    <div v-if="voletSkydome != ''">
                                                        <p class="text-gray-700 font-bold">
                                                            1 X {{ voletSkydome }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="card-footer-item">
                                            <p class="text-xs font-normal">Produits : <span class="font-bold"> {{ totalVolets.length }}</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap justify-center m-2">
                                <button class="inline-block rounded-full bg-red-500 hover:bg-red-600 text-white font-semibold px-2 py-1 m-2 text-xs font-normal" @click=" mainContent = 'volet'">+ J'ajouter des volets ?</button>
                                <button class="rounded-full bg-red-500 hover:bg-red-600 text-white font-semibold px-2 py-1 m-2 text-xs font-normal" @click=" mainContent = 'baies'">+ J'ajouter des baies ?</button>
                                <button class="rounded-full bg-red-500 hover:bg-red-600 text-white font-semibold px-2 py-1 m-2 text-xs font-normal" @click=" mainContent = 'domes'">+ J'ajouter des domes ?</button>
                            </div>
                        </div>
                    </div>
                </transition>
                </div>
            </div>
        </div>
    </div>



    <script>
        const vue = new Vue({
            el: "#app",
            data: {
                mainContent: "start",
                volet: "",
                typedBaieHeight: "",
                typedBaieWidth: "",
                typedBaieTotalSize: "",
                typedTotalPrice: "",
                globalTotalPrice: [],
                baies: [],
                voletDomes: [],
                voletLanterneaus: [],
                voletSkydome: "",
                totalVolets:[],
                countVoletBaie: 0,
                countVoletDeDome: 0,
                countLanterneau: 0,
                nom: "",
                prenom: "",
                email: "",
                tel: "",
                marque: "",
                textarea: "",
                productsCardContent: [
                    {
                        title: "Volets tryptiques de pare-brise",
                        imgsrc: "src/img/triptyque.png",
                        text: "Sélectionnez un volet triptyque de pare-brise en fonction de votre camping-car.",
                        clickmaincontent: "volet",
                        buttoncontent: "Je souhaite un volets tryptiques"
                    },
                    {
                        title: "Volets de baie",
                        imgsrc: "src/img/baies.png",
                        text: "Renseignez les différentes dimensions de vos baies de votre camping-car",
                        clickmaincontent: "baies",
                        buttoncontent: "Je souhaite des volets de baies"
                    },
                    {
                        title: "Volets de dômes",
                        imgsrc: "src/img/domes.png",
                        text: "Sélectionnez un volet triptyque de pare-brise en fonction de votre camping-car.",
                        clickmaincontent: "domes",
                        buttoncontent: "Je souhaite des volets de dômes"
                    },
                ],
                // FROM API
                apiAllTryptique: null,
                apiPriceBaie: null,
                apiAllDome: null

            },
            methods: {
                addVolet: function (model) {
                    this.volet = model
                },
                addBaies: function () {
                    if (this.typedBaieHeight != "" && this.typedBaieWidth != "") {
                        this.baies.push({
                            height: this.typedBaieHeight,
                            width: this.typedBaieWidth,
                            totalPrice: this.typedBaieHeight * this.typedBaieWidth * this.apiPriceBaie.tarif
                        })
                        this.typedBaieTotalSize = this.typedBaieWidth * this.typedBaieHeight;
                        this.typedTotalPrice = this.typedBaieTotalSize * this.apiPriceBaie.tarif;
                        this.globalTotalPrice.push(this.typedTotalPrice);
                    }
                    this.typedBaieHeight = ""
                    this.typedBaieWidth = ""
                    this.countVoletBaie++
                },
                addItem: function (item) {
                    if (item.fields.nom === "Volet de dôme") {
                        this.countVoletDeDome++,
                            this.voletDomes.push(item.fields.nom)
                            this.totalVolets.push(item.fields.nom)
                    } else if (item.fields.nom === "Volet de lanterneau") {
                        this.countLanterneau++,
                            this.voletLanterneaus.push(item.fields.nom)
                            this.totalVolets.push(item.fields.nom)
                    } else {
                        this.voletSkydome = item.fields.nom
                        if(this.totalVolets == ""){
                            this.totalVolets.push(item.fields.nom)
                        }
                    }
                }
            },
            computed: {
                calculateTotalPrice: function () {
                    if (this.globalTotalPrice.length != 0) {
                        const reducer = (accumulator, curr) => accumulator + curr;
                        let sum = this.globalTotalPrice.reduce(reducer)
                        return sum
                    }
                }

            },
            mounted() {
                axios
                    .get('https://nouvelair.net/wp-json/nouvelair/api/alltriptyque')
                    .then(response => (this.apiAllTryptique = response.data))
                    .catch(e => console.log(e)),
                    axios
                        .get('https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/pricebaie')
                        .then(response => (this.apiPriceBaie = response.data))
                        .catch(e => console.log(e)),
                    axios
                        .get('https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/alldome')
                        .then(response => (this.apiAllDome = response.data))
                        .catch(e => console.log(e))
            },
        });
    </script>
</body>

</html>